/*save for last day*/


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  display:inline;
}


li {
  float: left;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
}

img {
  border-radius: 5px;
  display: flex;
  max-width: 100px;
  /* max-height: 100px; */
}

.logo {
}

.link-button {


}

.search-bar {
}

.popular-category {

}

.sidenav {
  background-color: '#2c3e50';
  width: 220;
}



.followBar {
  display: block; 
  right : 0px;
  margin: auto;
  width: 80%; 
}

.profilePhoto {

}


.c1 {
  color : rgb(94, 94, 94);
}

.gu-mirror {
  display: none;
}

.additem {
  /* display: none; */
}
.dragulaContainer {
  min-height: 20px;
}


.container-fluid {
  display: inline-block;
}

/* Algolia-related components */
.ais-HitsPerPage__root {} /* HitsPerPage */



/* carousel */

.carousel-container {
  /* width: 100px;  */
  /* height: fit-content; */
}