
/*save for last day*/
body {
  margin:0;
  padding: 0;
}

nav {
  border: solid black;
  height: 140px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  height: 50px;
}

.logo {
  order: -1;
  position: absolute;
  align-content: space-around;
  top: 0;
  left: 0;

  font-family: sans-serif;
  font-size: 20px;
  color: black;
}

.content {
}

.content li {
  margin-top: 10px;
  margin-left:10px;
  margin-right:10px;
  font-family: sans-serif;
  font-size: 20px;
  color: black;
}
  
aside {
  border: solid red;
  float: left;
  height: 100%;
  width: 180px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #FFFFFF; */
  display:block;
}


li {
  float: left;
}

.search {
  display: block;
}

li a {
   /* display: block;
   color: white;
   text-align: center;
   padding: 14px 16px; */
}

img {
  border-radius: 5px;
  display: flex;
  max-width: 100px;
  /* max-height: 100px; */
}

.logo {
}

.link-button {


}

.search-bar {
}

.popular-category {

}

.sidenav {
  /* background-color: '#2c3e50';
  width: 220; */
}



.followBar {
  /* display: block; 
  right : 0px;
  margin: auto;
  width: 80%;  */
}

.profilePhoto {

}


.c1 {
  /* color : rgb(94, 94, 94); */
}

.gu-mirror {
  display: none;
}

.additem {
  /* display: none; */
}
.dragulaContainer {
  min-height: 20px;
}


.container-fluid {
  display: inline-block;
}

/* Algolia-related components */
.ais-HitsPerPage__root {} /* HitsPerPage */



/* carousel */

.carousel-container {
  /* width: 100px;  */
  /* height: fit-content; */
}


em {
  color: red;
  font-style: normal
}

#map {
  width: 600px;
  height: 600px;
}




.req-container {
  display: grid;
  grid-template-columns: 30px, 30px, 30px, 30px, 30px;
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}

.reqdate {
  grid-column: 1/2;
}
.requser {
  grid-column: 2/3;
}
.reqitem {
  grid-column: 3/4;
}
.reqtype {
  grid-column: 4/5;
}
.reqstatus {
  grid-column: 5/6;
}

.reqrest {
  grid-column: 1/6;
} 



