/* base */
html {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  margin:0;
  padding: 0;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

button {
    background-color: transparent;
    color: black;
    padding: 10px 24px;
    border: 0px solid grey;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgb(246, 246, 246);
    color: black;
}

/* layout */
.nav-container {
    overflow: hidden;
    top: -1;
    


  z-index: 1;
  width: 100%;
  /* display: grid; */
  position: fixed;
  grid-gap: 1em;
  /* grid-template-rows: 1fr 1fr; */
  grid-auto-rows: minmax(100px, auto);
  background-color: white;
  box-shadow: 1px 0px 1px #888888;
  margin: 0;
  padding: 0;
}

.main-container {
  padding: 100px;
  /* margin-top: 200px; */
  /* margin-bottom: 30px; */
}

.protectednavbar-container{
  display:grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  box-shadow: 1px 0px 1px #888888;
  /* grid-rows:100px (30px 60px); */
  /* background-color: rgb(255, 255, 255); */
  /* position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  right: 0px !important; */
}

.mycollections-container {


}

.navbar-search {
  text-align: left;
    padding: 11px 0;

}
.navbar-logo {
  text-align: center;
  padding: 0px 0;

  /* order: -1; */
  /* position: absolute; */
  /* align-content: space-around; */
  
  text-decoration: none;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  color: black;
}
.navbar-links {
  text-align: left;
  padding: 9px 0;
}
.navbar-avatar {
  text-align: left;
  padding: 5px 0;

}

.searchBar {
  
}

input[type=text], select {
    width: 400px;
    padding: 10px 10px;
    margin: 0px 0px;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
}


input[type=submit] {
    width: 400px;
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightgrey;
}

.unprotectednav-container{
  
}
.additems-container {
  padding: 100px;
}
.authentication-container {
  padding: 100px;
}
.manage-inventory-container {
  padding: 100px;
}
.map-container {
  padding: 100px;
}
.messaging-container {
  padding: 100px;
}

.model-container {
  padding: 100px;
} 

.profile-container{
  padding: 100px;
}

.search-container{
  padding: 100px;
}

.search-entry{
  padding: 0px;
}

.search-hits-per-page{
  
}

.search-entry{

}

.search-pagination{

}

.search-map{
  
}

.navbar-container {
} 

/* app */

/* add items */

/* authentication */

/* manage-inventory */

/* map */

/* messaging */

/* model */

/* navbar */


.navbar-avatar{
  border-radius: 50%;
  width: 35px;
}

/* 
nav {
  border: solid rgb(160, 160, 160);
  height: 140px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  height: 50px;
} */



/* payments */

/* popular-category */

/* trade */

.req-container {
  display: grid;
  grid-template-columns: 30px, 30px, 30px, 30px, 30px;
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}

.reqdate {
  grid-column: 1/2;
}
.requser {
  grid-column: 2/3;
}
.reqitem {
  grid-column: 3/4;
}
.reqtype {
  grid-column: 4/5;
}
.reqstatus {
  grid-column: 5/6;
}

.reqrest {
  grid-column: 1/6;
} 

.tradebox{
  border: solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.reqmade {
  border: solid red;
  width: 80%;
}

.reqreceiv {
  border: solid red;
  width: 80%;
}

/* userbar */







.content {
}

.content li {
  /* margin-top: 10px;
  margin-left:10px;
  margin-right:10px;
  font-family: sans-serif;
  font-size: 20px;
  color: black; */
}
  
aside {
  /* border: solid red;
  float: left;
  height: 100%;
  width: 180px; */
}

ul {
  /* list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  display:block; */
}


li {
  /* float: left; */
}

.search {
  /* display: block; */
}

li a {
   /* display: block;
   color: white;
   text-align: center;
   padding: 14px 16px; */
}

img {
  border-radius: 5px;
  /* display: flex; */
  max-width: 100px;
  /* max-height: 100px; */
}

.sidenav {
  /* background-color: '#2c3e50';
  width: 220; */
}



.followBar {
  /* display: block; 
  right : 0px;
  margin: auto;
  width: 80%;  */
}


.c1 {
  /* color : rgb(94, 94, 94); */
}

.gu-mirror {
  /* display: none; */
}

.additem {
  /* display: none; */
}
.dragulaContainer {
  min-height: 20px;
}


.container-fluid {
  /* display: inline-block; */
}

/* Algolia-related components */
.ais-HitsPerPage__root {} /* HitsPerPage */



/* carousel */

.carousel-container {
  /* width: 100px;  */
  /* height: fit-content; */
}


em {
  /* color: red;
  font-style: normal */
}

#map {
  /* width: 600px;
  height: 600px; */
}

/* .main {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  width: 100%;
  border: solid red; 
} */




/* .req-container {
  display: grid;
  grid-template-columns: 30px, 30px, 30px, 30px, 30px;
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}

.reqdate {
  grid-column: 1/2;
}
.requser {
  grid-column: 2/3;
}
.reqitem {
  grid-column: 3/4;
}
.reqtype {
  grid-column: 4/5;
}
.reqstatus {
  grid-column: 5/6;
}

.reqrest {
  grid-column: 1/6;
}  */



